@use "variables" as *;

.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: calc(100vh - 99px);
    overflow: hidden;
    width: 100%;

    &__track-container {
        overflow: hidden;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__track {
        display: flex;
        width: 100%;
        height: 100%;
        transition: transform 0.5s ease-in-out;
    }

    &__slide {
        min-width: 100%;
        height: 100%;
        opacity: 0%;
        transition: opacity 0.5s ease-in-out;
        position: absolute;
        top: 0;
        left: 0;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &[data-active] {
            opacity: 100%;
            position: relative;
        }
    }

    &__btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: rgb(0 0 0 / 50%);
        color: #fff;
        border: none;
        padding: 10px;
        cursor: pointer;
        font-size: $font-size-large;

        &--prev {
            left: 10px;
            z-index: 1;
        }

        &--next {
            right: 10px;
            z-index: 1;
        }
    }
}

@media(width <= 767px){
    .carousel{
        height: calc(100vh - 18px);
    }
    
}