@use "variables" as *;

.menu__filter{
    display: none;
}

.sidebar {
    width: 300px;
    flex-shrink: 0;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    position: sticky;
    top: 20px;
    box-shadow: 0 4px 8px rgb(0 0 0 / 10%);
    height: fit-content;
    transition: transform 0.3s ease-in-out;
    font-size: $font-size-med;

    .close-filter{
        display: none;
    }

    @media (width <= 768px) {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0.9);
        width: 90%;
        max-width: 400px;
        height: auto;
        background: #fff;
        z-index: 1001;
        padding: 30px;
        border-radius: 12px;
        opacity: 0%;
        pointer-events: none;

        .close-filter{
            display: block;
        }
    }

    @media (width <= 1200px){
        margin-top: 60px;
    }
}

.filter-toggle {
    display: none;
    font-size: 26px;
    cursor: pointer;
    position: fixed;
    top: 15px;
    left: 15px;
    background: rgb(216 118 26 / 100%);
    border: none;
    color: #2b190b;
    border-radius: 50px;
    padding: 10px 25px;
    
    @media (width <= 768px) {
        display: block;
        position: absolute;
    }
}

.sidebar.open {
    opacity: 100%;
    pointer-events: all;
    transform: translate(-50%, -50%) scale(1);
}


.sidebar h2 {
    margin-bottom: 15px;
    color: #333;
}

.filter-group {
    margin-bottom: 15px;
}

.filter-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: $border-rad-sm;
    transition: all 0.3s ease;
}

input:focus, select:focus {
    border-color: $focus-color;
}

.filter-group input[type="radio"] {
    width: auto;
    margin-right: 5px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0 0 0 / 50%);
    opacity: 0%;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
    z-index: 1000;
}

.overlay.active {
    opacity: 100%;
    pointer-events: all;
}

@media(width <= 767px){
    .wrapper{
        display: flex;
        flex-direction: column;

        .menu__filter{
            display: block;
            position: relative; 
        }
    }
}

