@use "variables" as *;
@use './mixins/mixins' as *;

header{
    background-color: $header-bg-color;
}

.header__container{
    max-width: 1300px;
    margin: 0 auto;
    padding: 20px;
}

.header__wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10%;

    .menu__body{
        display: flex;
        align-items: center;
    }
}

li, a, .btn-cta {
    font-family: $font-main;
    font-weight: 500;
    font-size: $font-size-med;
    color: #e9e2e2;
    text-decoration: none;
    text-transform: uppercase;
}

.nav__links {
    display: flex;

    li {
        position: relative;
        padding: 0 20px;

        a {
            transition: color 0.3s ease;

            &:hover {
                color: $nav-hover-color;
            }
        }
    }

    .has-submenu {
        position: relative;

        .submenu {
            position: absolute;
            top: 100%;
            left: 0;
            background: $submenu-bg;
            list-style: none;
            margin: 0;
            padding: 10px 0;
            min-width: 200px;
            border-radius: $border-rad-sm;
            box-shadow: 0 4px 8px rgb(0 0 0 / 10%);

            &-arrow{
                    display: none;
                    font-size: $font-size-sm;
                    margin-left: 5px;
                    transition: transform 0.3s ease;
                }
            
            @include fade-in(0.3s);

            li {
                a {
                    display: block;
                    padding: 12px 20px;
                    color: $submenu-color;
                    border-radius: 50px;
                    transition: background 0.3s ease, color 0.3s ease;

                    &:hover {
                        background-color: $submenu-hover;
                        color: #fff;
                    }
                }
            }
        }

        &:hover .submenu {
            opacity: 100%;
            transform: translateY(0);
            pointer-events: all;
            z-index: 999;
        }
    }
}

.cta{
    display: block;
}

.btn-cta {
    color: #fff;
    padding: 9px 25px;
    background-color: rgb(216 118 26 / 100%);
    border: none;
    border-radius: 50px;
    margin-left: 10px;
    cursor: pointer;
    transition: all 0.3s ease 0s;

    &:hover{
        background: #bf6a30;
        transform: scale(1.05);
    }
}

.menu__icon{
    display: none;
}

@media(width <= 767px){
    .header__wrapper{
        padding: 0;

        .menu__body{
            display: flex;
            flex-direction: column;
            align-items: start;
            position: fixed;
            top: 0;
            left: -100%;
            width: 100%;
            height: 100%;
            background-color: rgb(0 0 0 / 70%);
            padding: 80px 30px 30px;
            transition: left 0.3s ease 0s;
            z-index: 1002;

            &.active{
                left: 0;
            }

            .cta{
                .btn-cta{
                    display: block;
                    margin-top: 15px;
                }
            }
        }

        .nav__links{
            .submenu{
                display: none;
            }

            flex-direction: column;

            li{
                margin: 0 0 30px;

                &:last-child{
                    margin-bottom: 0;
                }

                a{
                    font-size: $font-size-large;
                }
            }

            .submenu-arrow {
                display: inline-block;
                font-size: 25px;
                transition: transform 0.3s ease;
            }
        
            .has-submenu.active  {
                .submenu{
                    display: block;
                }

                &.active {
                    .submenu-arrow{
                        transform: rotate(180deg);
                    }
                }
            }
        }
    }

    .menu__icon{
        z-index: 1003;
        display: block;
        position: relative;
        width: 30px;
        height: 18px;
        cursor: pointer;

        span,
        &::before,
        &::after {
            left: 0;
            position: absolute;
            height: 3px;
            width: 25px;
            transition: all 0.3s ease 0s;
            background-color: #fff;
        }

        &::before, &::after{
            content: "";
        }

        &::before{
            top: 0;
        }

        &::after{
            bottom: 0;
        }

        span{
            top: 50%;
            transform: scale(1) translate(0, -50%);
        }

        &.active{
            span {
                transform: scale(0) translate(0, -50%);
            }

            &::before{
                top: 50%;
                transform: rotate(-45deg) translate(0, -50%);
            }

            &::after{
                bottom: 50%;
                transform: rotate(45deg) translate(0, 50%);
            }
        }
    }
}