.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 80%);
    justify-content: center;
    align-items: center;
}

.modal-content {
    max-width: 80%;
    max-height: 80%;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.prev {
    left: 5%;
}

.next {
    right: 5%;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    font-size: 40px;
    cursor: pointer;
    user-select: none;

    &:hover{
        color: #c73;
    }
} 



.close {
    position: absolute;
    top: 15px;
    right: 25px;
    font-size: 40px;
    color: #fff;
    cursor: pointer;
    user-select: none;
}
