@use "variables" as *;

#pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    padding-bottom: 25px;
}

#page-numbers {
    display: flex;
    gap: 5px;
}

.btn-pgn {
    padding: 12px 18px;
    border: none;
    background: #d77a3b; 
    color: #fff;
    font-size: $font-size-med;
    cursor: pointer;
    border-radius: 8px;
    transition: background 0.3s ease, transform 0.2s ease;

    &:hover {
        background: #bf6a30;
        transform: scale(1.05);
    }

    &:disabled {
        background: #c4a99c;
        cursor: default;
        transform: none;
    }
}

.page-number {
    padding: 10px 14px;
    margin: 0 4px;
    border: 1px solid #d77a3b;
    border-radius: 6px;
    cursor: pointer;
    background: #fff5ee; 
    color: #703d28; 
    font-size: $font-size-base;
    font-weight: bold;
    transition: background 0.3s ease, color 0.3s ease, transform 0.2s ease;

    &:hover {
        background: #f4c2a5;
        color: #5b2c1e;
        transform: scale(1.1);
    }
}

.page-number.active {
    background: #b44b2d; 
    color: #fff;
    font-weight: bold;
    transform: scale(1.15);
}

.load-more__box{
    display: flex;
    justify-content: center;
    margin-bottom: 25px;

    #load-more{
        color: #fff;
        font-size: $font-size-med;
        padding: 9px 25px;
        background-color: rgb(216 118 26 / 100%);
        border: none;
        border-radius: 50px;
        margin-left: 10px;
        text-transform: uppercase;
        cursor: pointer;
        transition: all 0.3s ease 0s;

        &:hover{
            background: #bf6a30;
            transform: scale(1.05);
        }
    }
}