* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
  }
  
  *::before, *::after {
    box-sizing: inherit;
  }
  
  :focus, :active {
    outline: none;
  }
  
  a {
    &:focus, &:active {
      outline: none;
    }

    &:hover {
      text-decoration: none;
    }
  }
  
  nav, footer, header, aside {
    display: block;
  }
  
  html, body {
    height: 100%;
    width: 100%;
    line-height: 1;
    font-size: 14px;
    text-size-adjust: 100%;
  }
  
  input, button, textarea {
    font-family: inherit;
  }
  
  input {
    &::-ms-clear {
      display: none;
    }
  }
  
  button {
    cursor: pointer;
  
    &::-moz-focus-inner {
      padding: 0;
      border: 0;
    }
  }
  
  ul {
    li {
      list-style: none;
    }
  }
  
  img {
    vertical-align: top;
  }
  
  