$font-main: "Arial", sans-serif;
$font-size-sm: 14px;
$font-size-base: 16px;
$font-size-med: 18px;
$font-size-large: 24px;
$border-rad-sm: 5px;

$header-bg-color:rgb(180 150 122);
$nav-hover-color: rgb(91 64 64);
$submenu-color: rgb(180 150 122);
$submenu-bg: rgb(255 255 255 / 90%);
$submenu-hover: rgb(216 118 26 / 80%);

$focus-color: #007bff;

$footer-bg: rgb(180 150 122);
$footer-text: rgb(255 255 255);
$underline-color: rgb(228 228 228);
$footer-link-color: rgb(241 241 241);